@using EntityLayer.Concrete
@model List<TBL_IDARI_PERSONEL>
@{
    ViewData["Title"] = "AllList";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-toggle="modal" data-bs-target="#custom-modal"><i class="mdi mdi-plus-circle me-1"></i>Yeni Personel Ekle</button>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end mt-1 mt-sm-0">
                            
                            <input type="submit" name="btnsil" value="btnsil" class="btn btn-danger btnsil" data-id="${value.IDARI_PERSONEL_ID}" id="btnsilme" />
                            <button type="button" id="btnGetId" class="btn btn-danger mb-1">PersonelGetir</button>
                            <input type="text" style="border:revert" id="id" class="btn btn-light mb-1" placeholder="TC" class="form-control" />
                       
                          
                        </div>
                    </div><!-- end col-->
                </div>
                <br />
                <div id="PersonelGetir">
              
                </div>
                <div id="PersonelList">
             
                </div>
           
                <div>
                    <button type="button" id="btnsil" class="btn btn-light mb-1">Personel sil</button>
                </div>
                <div>
                    <input type="text" id="silid" placeholder="silinecek Personel Id Değerini Girin" class="form-control" />
                </div>
                <br />
                <div class="modal fade" id="custom-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header bg-light">
                                <h4 class="modal-title" id="myCenterModalLabel">Yeni Personel Ekle</h4>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-hidden="true"></button>
                            </div>

                            @section scripts{
                                <script>

                                    @await Html.PartialAsync("PartialOgretmen/CallPersonel")
                                    @await Html.PartialAsync("PartialOgretmen/AddPersonel")
                                    @await Html.PartialAsync("PartialOgretmen/ListPersonel")
                                    @await Html.PartialAsync("PartialOgretmen/DeletePersonel")
                                    @await Html.PartialAsync("PartialOgretmen/UpdatePersonel")


                                </script>
                            }
                       
                                <div class="modal-body p-4">
                                    <div>
                                        <div class="mb-3">
                                            <label for="ADI" class="form-label">ADI</label>
                                            <input type="text" class="form-control" placeholder="ADI" id="ADI">
                                        </div>
                                        <div class="mb-3">
                                            <label for="SOYADI" class="form-label">SOYADI</label>
                                            <input type="text" class="form-control" placeholder="SOYADI" id="SOYADI">
                                        </div>
                                        <div class="mb-3">
                                            <label for="UNVAN" class="form-label">UNVAN</label>
                                            <input type="text" class="form-control" placeholder="UNVAN" id="UNVAN">
                                        </div>
                                        <div class="mb-3">
                                            <label for="TELEFON" class="form-label">TELEFON</label>
                                            <input type="text" class="form-control" placeholder="TELEFON" id="TELEFON">
                                        </div>
                                        <div class="mb-3">
                                            <label for="EMAİL" class="form-label">Email</label>
                                            <input type="email" class="form-control" placeholder="MAIL" id="MAIL">
                                        </div>
                                        <div class="mb-3">
                                            <label for="SIFRE" class="form-label">SIFRE</label>
                                            <input type="text" class="form-control" placeholder="SIFRE" id="SIFRE">
                                        </div>
                                        <div class="mb-3">
                                            <label for="DURUM" class="form-label">DURUM</label>
                                            <input type="text" class="form-control" placeholder="Enter Location" id="DURUM">
                                        </div>
                                        <div class="mb-3">
                                            <label for="OKUL" class="form-label">OKUL</label>
                                            <input type="text" class="form-control" placeholder="KOD" id="SCHOOL_ID">
                                        </div>
                                        <div class="mb-3">
                                            <label for="OZEL_KOD" class="form-label">KOD</label>
                                            <input type="text" class="form-control" placeholder="KOD" id="OZEL_KOD">
                                        </div>
                                        <div class="text-end">
                                            <button type="button" id="btnAdd" class="btn btn-success waves-effect waves-light">Save</button>
                                            <button type="button" class="btn btn-danger waves-effect waves-light" data-bs-dismiss="modal">Continue</button>
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal-dialog -->
                    </div>
                    <ul class="pagination pagination-rounded justify-content-end mb-0">
                        <li class="page-item">
                            <a class="page-link" href="javascript: void(0);" aria-label="Previous">
                                <span aria-hidden="true">«</span>
                                <span class="visually-hidden">Previous</span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="javascript: void(0);">1</a></li>
                        <li class="page-item"><a class="page-link" href="javascript: void(0);">2</a></li>
                        <li class="page-item"><a class="page-link" href="javascript: void(0);">3</a></li>
                        <li class="page-item"><a class="page-link" href="javascript: void(0);">4</a></li>
                        <li class="page-item"><a class="page-link" href="javascript: void(0);">5</a></li>
                        <li class="page-item">
                            <a class="page-link" href="javascript: void(0);" aria-label="Next">
                                <span aria-hidden="true">»</span>
                                <span class="visually-hidden">Next</span>
                            </a>
                        </li>
                    </ul>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col -->
    </div>




